# Which NYC schools have the best math results?

# Executive Summary
This analysis delves into school performance, shedding light on math proficiency and overall SAT scores. It's a treasure trove of insights for students, educators, and policymakers alike. By pinpointing top-performing schools and uncovering SAT score variations across NYC boroughs, it guides targeted interventions and resource allocation strategies to uplift academic success.

# Code Section:

In [ ]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

# Start coding here...
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

#Â Which schools are best for math?
best_math_schools = schools[schools["average_math"] >= 640][["school_name", "average_math"]].sort_values("average_math", ascending=False)

# Calculate total_SAT per school
schools["total_SAT"] = schools["average_math"] + schools["average_reading"] + schools["average_writing"]

# Who are the top 10 performing schools?
top_10_schools = schools.sort_values("total_SAT", ascending=False)[["school_name", "total_SAT"]].head(10)

# Which NYC borough has the highest standard deviation for total_SAT?
boroughs = schools.groupby("borough")["total_SAT"].agg(["count", "mean", "std"]).round(2)

# Filter for max std and make borough a column
largest_std_dev = boroughs[boroughs["std"] == boroughs["std"].max()]

# Rename the columns for clarity
largest_std_dev = largest_std_dev.rename(columns={"count": "num_schools", "mean": "average_SAT", "std": "std_SAT"})

# Optional: Move borough from index to column
largest_std_dev.reset_index(inplace=True)

# The Output

__Top 10 Performing Schools__
|   | School Name                                        | Total SAT |
|---|----------------------------------------------------|-----------|
| 1 | Stuyvesant High School                             | 2144      |
| 2 | Bronx High School of Science                        | 2041      |
| 3 | Staten Island Technical High School                 | 2041      |
| 4 | High School of American Studies at Lehman College   | 2013      |
| 5 | Townsend Harris High School                         | 1981      |
| 6 | Queens High School for the Sciences at York College | 1947      |
| 7 | Bard High School Early College                      | 1914      |
| 8 | Brooklyn Technical High School                      | 1896      |
| 9 | Eleanor Roosevelt High School                       | 1889      |
| 10| High School for Mathematics, Science, and Engineering| 1889     |

__Borough with Highest SAT Standard Deviation__

| Borough        | Count | Mean   | Std    |
|----------------|-------|--------|--------|
| Bronx          | 98    | 1202.72| 150.39 |
| Brooklyn       | 109   | 1230.26| 154.87 |
| Manhattan      | 89    | 1340.13| 230.29 |
| Queens         | 69    | 1345.48| 195.25 |
| Staten Island  | 10    | 1439.00| 222.30 |